application.name                        {{ crowd_application_name }}
application.password                    {{ crowd_application_password }}

crowd.server.url                        {{ crowd_server_url }}
crowd.base.url                          {{ crowd_base_url }}

session.isauthenticated                 {{ crowd_session_isauthenticated }}
session.tokenkey                        {{ crowd_session_tokenkey }}
session.validationinterval              {{ crowd_session_validationinterval }}
session.lastvalidation                  {{ crowd_session_lastvalidation }}
cookie.tokenkey                         {{ crowd_cookie_tokenkey }}